form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.form-col:first-child {
    margin-right: 1rem;
}
input {
    margin: 0;
    outline: none;
    font-size: 1rem;
    padding: .5rem;
    border-color: $OPblue;
}
label {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: .8rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    input[type=file] {
        cursor: pointer;
    }

}

textarea {
    min-width: 300px;
    max-width: 500px;
    min-height: 100px;
    max-height: 200px;
}

.submit-btn {
    font-weight: 700;
    font-size: 1rem;
    color: $OPblue;
    border: 2px solid $OPblue;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}