/* -------------------------------------------------------------------------- */
/*                             GLOBAL FORM STYLES                             */
/* -------------------------------------------------------------------------- */

form {
    display: flex;
}

input,
select,
textarea {
    margin: 0;
    outline: none;
    font-size: 1rem;
    padding: 0.8rem;
    border: 1.2px solid $OPblue;
    max-width: 500px;
    border-radius: 20px;
    width: 100%;
}
textarea {
    outline: none;
    height: 60px;
    max-height: 70px;
    padding: 0.5rem;
    resize: vertical;
}
label {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0.8rem 0;
    margin-right: 1rem;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0.8rem;
}
.input-group textarea#description {
    max-height: 80px;
    min-height: 60px;
}
input[type="file"] {
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
}
input[type="url"] {
    width: 100%;
}
.submit-btn {
    width: 10.3em;
    height: 2.6em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: $OPgreen;
    box-shadow: 0px 10px 10px rgba(119, 29, 0, 0.3);
    color: #fff;
    transform: translateY(-2px);
}
//form buttons
.btn {
    width: 90px;
    height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 5px;
}
.btn-delete {
    background-color: rgba(224, 11, 11, 0.808);
    color: white;
}
.btn-edit {
    background-color: #135da7;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                             COHORT FORM STYLES                             */
/* -------------------------------------------------------------------------- */

#cohort-select {
    border: 1px;
    padding: 10px;
    #cohortSelect {
        font-size: 1.6rem;
    }
}
#cohort-input{
    min-height: 100px  !important;
    max-height: 1000px  !important;
}

/* -------------------------------------------------------------------------- */
/*                            EVIDENCE FORM STYLES                            */
/* -------------------------------------------------------------------------- */

form#evidence {
    h3 {
        overflow-wrap: break-word;
    }
    form {
        justify-content: space-around;
        &:first-child .input-group {
            margin-right: 1rem;
        }
        .input-group {
            display: grid;
            &:nth-child(2) {
                margin-right: 2rem;
            }
        }
    }
    .form-col {
        display: flex;
    }
}

/* -------------------------------------------------------------------------- */
/*                             STUDENT FORM STYLES                            */
/* -------------------------------------------------------------------------- */
.student-section {
    h1 {
        text-align: center;
    }
}
.formwrapper {
    margin: auto;
    width: 40%;
    form {
        display: flex;
        flex-direction: column;
    }
}
.submit-btn {
    margin: 20px auto;
}

.student-section {
    height: 100vh;
    padding: 4rem 0 !important;
}

/* -------------------------------------------------------------------------- */
/*                              NOTES FORM STYLES                             */
/* -------------------------------------------------------------------------- */
