.test{
    
width: 400px;
}
.box{
    width:600px;
    margin:0 auto;
    border:1px solid #ccc;
    margin-top: 200px;
   }
   .container-text{
       height: 500px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }