
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    padding-top: 2rem;
    background-color:#11121c;
    display: flex;
    flex-direction: column;
  }
  .footer-info {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap:2.5rem;
  }
  .footer-info > * {
    flex: 1 1 10em;
    
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .col.social {
    padding: 0 0 1rem 1rem;
  }
  .footer p, .footer a, .footer address p {
    font-size: .9rem;
    color: #aecf4b;
    white-space: nowrap;
    font-style: normal;
  }
 
  

/*--------------------------------------social icons------------------------------*/
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: $OPblue;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon a {
    font-size: 1.9rem;
    color: #fff;
}
.icon:hover {
  background-color: #fff;
  a {
    color:$OPblue;
  } 
}
.icon a:hover {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

// .wrapper .facebook:hover {
//   background-color: #333333;
//   color: $OPblue;
// }

// .wrapper .twitter:hover{
//   background-color: #46c1f6;
//   color: #ffffff;
// }

// .wrapper .instagram:hover {
//   background-color: #e1306c;
//   color: #ffffff;
// }

// .wrapper .LinkedIn:hover {
//   background-color: #333333;
//   color: $OPgreen;
// }

// .wrapper .youtube:hover {
//   background-color: #de463b;
//   color: $OPblue;
// }
