
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    padding-top: 2rem;
    width: 100%;
    background-color:#11121c;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    bottom:0rem;
  }
  .footer-info {
    display: flex;
  }
  .footer .col {
    width: max-content;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer p, .footer a, .footer address p {
    font-size: .9rem;
    color: #aecf4b;
    white-space: nowrap;
    font-style: normal;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social>ul li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }