/* -------------------------------------------------------------------------- */


/*                           HOME PAGE SLIDER STYLES                          */


/* -------------------------------------------------------------------------- */

.home {
    height: max-content;
    overflow: hidden;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    .hero {
        overflow: hidden;
    }
    .owl-carousel .item img {
        display: block;
        object-fit: cover;
        object-position: center center;
        height: 60vh;
        border-radius: 20px;
    }
    .owl-theme {
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(50%);
            top: 50%;
            span {
                font-size: 5.125rem;
                font-weight: 900;
                z-index: 20;
            }
        }
        .owl-prev {
            left: 20px;
        }
        .owl-next {
            right: 20px;
        }
    }
    .home .owl-carousel .item img{
        border-radius:50px   
     }
}