.studentDocumentLinks {
    width: 100%;
    border-top: 1px solid black;
    margin-top:2rem;
    padding-top: 2rem;
    table {
        width: 100%;
        tbody {
            .title {
                padding-bottom: .6rem;
            }
            tr {
                width: 100%;
                th {
                    width: 5em;
                    font-size: 1.2rem;
                    color: #000;
                    text-align: center;
                }
            }
            td {
                padding: 0;
                width:5em;
                text-align: center;
            }
            td.documentURL {
                width: max-content;
            }
            .update-links {
                border: none;
                button {
                    cursor: pointer;
                }
            }
        }
    }
}