[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    border-radius: 50%;
    box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
    filter: brightness(122%);
-webkit-filter: brightness(122%);
-moz-filter: brightness(122%);
}
#fileurl {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
input#inputFile.form-control {
    line-height: 1.2;
}
.student-profile {
    font-weight: 300;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: .5rem;
    border-bottom: 2px solid $OPblue;
    label {
        cursor: pointer;
        padding: 1rem 0 1rem 1rem;
        img {
            border-radius: 50%;
            margin-left: 2rem;
        }
    }
}
#evidence {
    .form-wrapper {

        h1, h2 {
            margin-bottom: 1.5rem;
        }
    }
    .evidence-select-search-group {
        display: flex;
        justify-content: flex-start;
        .input-group {
            width: auto;
        }
        #searchStudent {
            width: 15rem;
        }
        button {
            width: fit-content;
            padding: 0 1.6rem;
        }
    }
    .form-wrapper {
        max-width: 100%;
        .evidence-select-search-group .custom-select {
            max-width: 10%;
        }
        .evidence-select-search-group #searchStudent {
            max-width: 50%;
        }
        .evidence-select-search-group .search-btn {
            max-width: 20%;
        }
    }
}