@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
$body-bg: #001326;
$OPblue: #005aab;
$OPgreen: #91c441;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $body-bg;
    font-size: 16px;
    height: 100vh;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(52 53 66 / 81%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

//main container
.container {
    margin: 0 auto;
    min-height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //sections wrapping content
    section {
        height: 100%;
        width: 45vw;
        min-width: min-content;
        max-width: max-content;
        padding: 4rem 4rem;
        margin: 0 2rem;
        background-image: linear-gradient(
            to right bottom,
            #0e5ba5,
            #3169b1,
            #4777bd,
            #5b85ca,
            #6e94d6,
            #58a1e1,
            #3aaee9,
            #00bbec,
            #00c6d7,
            #00ccb0,
            #5fcd80,
            #a3c853
        );
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
        color: white;
        font-weight: 500;
        header {
            margin-bottom: 1.5rem;
        }
    }
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

h2,
h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    &:link,
    &:visited {
        text-decoration: none;
    }
    &:hover,
    a:active {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
}



.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 15px auto;
    width: 120px;
    height: 120px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #001326;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -90px;
    height: 50px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  } 




@import "../layout/homepage";
